//Variablen für die Farben
$red: #E83539;
$white:#FFFFFF;
$bg: #100f0f;

//Variablen für die Schriften
$first-font: 'Open Sans';
$next-font: 'Montserrat';
$small-weight: 400;
$middle-weight: 600;
$bold-weight: 700;
// $Montenserrat-weight: 700;

// Variablen für die Schriftgröße
$size-small: 1.125rem;        //18px
$size-smallLink: 1.5rem;      //24px
$size-forDetail: 2.25rem;     //36px
$size-bigLink: 3rem;          //48px
$size-headerLeague: 5.25rem;  //84px
$size-headerDetail: 6.125rem; //98px 
$size-headerHome: 10.5rem;    //168px

// 

.team-facts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    > img{
        position: absolute;
        z-index: -10;
        left: 0;
        width: 50%;
        height: 100vh;
        max-height: 810px;
        margin: 6rem 0 0 50%;
        padding-right: 2rem;
        object-fit: cover;
        filter: grayscale(100%);
        &:hover{
            filter: none;
        }
    }
    &-details{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 12rem 0 0 0;
        > h2{
            width: 100%;
            margin-bottom: 3rem;
            text-align: center;
            font-size: $size-headerDetail;
            color: $red;
            font-weight: $bold-weight;
            text-transform: uppercase;
            font-family: $next-font;
            word-break: break-word;
        }
        &-wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 30%;
            &-item{
                width: 100%;
                margin-bottom: 48px;
                text-align: center;
                > h3{
                    margin-bottom: 6px;
                    font-size: $size-forDetail;
                    font-family: $first-font;
                    text-transform: uppercase;
                    color: $white;
                }
            }
        }
    }
}

// MEDIA QUERIES
@media (max-width: 767px){
    .team-facts{
        > img{
            position: unset;
            width: 100%;
            height: 60vh;
            margin-left: 0;
            padding-right: 0;
            &:hover{
                filter: grayscale(100%)
            }
        }
        &-details{
            position: unset;
            margin: 3rem 0 0 0;
            width: 90%;
            justify-content: center;
            > h2{
                font-size: 3.5rem;
            }
            &-wrapper{
                width: 100%;
            }
        }
    }
}