// COLORS
$red: #E83539;
$white:#FFFFFF;
$bg: #100f0f;

// FONTS
$first-font: 'Open Sans';
$next-font: 'Montserrat';
$small-weight: 400;
$middle-weight: 600;
$bold-weight: 700;

// SIZES
$size-small: 1.125rem;        //18px
$size-smallLink: 1.5rem;      //24px
$size-forDetail: 2.25rem;     //36px
$size-bigLink: 3rem;          //48px
$size-headerLeague: 5.25rem;  //84px
$size-headerDetail: 6.125rem; //98px 
$size-headerHome: 10.5rem;    //168px

// COMPONENT
.team-stadium{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 48px 144px $size-bigLink;
        font-family: $first-font;
        > h3{
                width: 100%;
                font-weight:$bold-weight;
                font-size: 60px;
                margin-bottom: 48px;
                text-transform: uppercase;
        }
        &-details{
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: flex-start;
                width: 100%;
                > p{      
                        width: 100%;
                        column-count: 2;
                        margin-right: 48px;
                        white-space: break-spaces;
                        line-height: 180%;
                }
                &-shortfacts{
                        min-width: 25%;
                        text-align: center;
                        align-self: center;
                        > h3{
                                font-weight: 700;
                                font-size: 36px;
                                line-height: 49px;
                                text-transform: uppercase;
                                margin-bottom: 6px;
                        }
                        > p{
                                font-weight:$small-weight;
                                font-size: $size-small;
                                line-height: 180%;
                                margin-bottom: $size-bigLink;
                        }
                }
        }
}

// MEDIA QUERIES
@media (max-width: 767px){
        .team-stadium{
                display: inline-block;
                margin: 0 0 100px 0;
                padding: 0 10%;
                width: 100%;
                > h3{
                        font-size: 2rem;
                        margin-bottom: 2rem;
                        }
                &-details{
                        flex-wrap: wrap;
                        > p{
                                column-count: 1;
                                width: 100%;
                                margin-right: 0;
                        }
                        &-shortfacts{
                                width: 100%;
                                margin-top: 100px;
                        }
                }
        }
}
