//Variablen für die Farben
$red: #E83539;
$white:#FFFFFF;
$bg: #100f0f;

//Variablen für die Schriften
$first-font: 'Open Sans';
$next-font: 'Montserrat';
$small-weight: 400;
$middle-weight: 600;
$bold-weight: 700;
// $Montenserrat-weight: 700;

// Variablen für die Schriftgröße
$size-small: 1.125rem;        //18px
$size-smallLink: 1.5rem;      //24px
$size-forDetail: 2.25rem;     //36px
$size-bigLink: 3rem;          //48px
$size-headerLeague: 5.25rem;  //84px
$size-headerDetail: 6.125rem; //98px 
$size-headerHome: 10.5rem;    //168px

.team-links{
    width: 100%;
    display: flex;
    justify-content: end;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-transform: uppercase;
    ul{
        li{
            list-style: none;
            margin-bottom: 36px;
            a{
                text-decoration: none;
                color: $white;
            }
        }
    }
    &-details{
        width: 50%;
    }
}

// HOVER FOR LINKS WITH CLASS "UNDERLINE"

.underline{
    position: relative;
}

.underline::before{
    content: '';
    position: absolute;
    z-index: -10;
    bottom: 0;
    right: 0;
    width: 0;
    height: 30%;
    background-color: #E83539;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

  @media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
      left: -5%;
      right: auto;
      width: 110%;
    }
  }
  

// MEDIA QUERIES

@media (max-width: 575px) { 
    .team-links{
        &-details{
            text-align: center;
            width: 100%;
        }
    }
 }
