//Variablen für die Farben
$red: #E83539;
$white:#FFFFFF;
$bg: #100f0f;

//Variablen für die Schriften
$first-font: 'Open Sans';
$next-font: 'Montserrat';
$small-weight: 400;
$middle-weight: 600;
$bold-weight: 700;
// $Montenserrat-weight: 700;

// Variablen für die Schriftgröße
$size-small: 1.125rem;        //18px
$size-smallLink: 1.5rem;      //24px
$size-forDetail: 2.25rem;     //36px
$size-bigLink: 3rem;          //48px
$size-headerLeague: 5.25rem;  //84px
$size-headerDetail: 6.125rem; //98px 
$size-headerHome: 10.5rem;    //168px

//Loading 
.TeamsList_onload {
    text-align: center;
    font-size: $size-forDetail;
    font-weight: $bold-weight;
    margin-top: 20%;
}

//Img and Headline
.TeamsList_firstArticle {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    max-width: 100%;

    .TeamsList_img {
        width: 50%;
        height: 60vh;
        object-fit: cover;
        max-height: 780px;
        margin-left: 10%;
        margin-top: 7%;
        margin-bottom: 4%;
        filter: grayscale(100%);
    }
    .articleTeamslist {
        position: absolute;
        margin-left: 40%;
        width: 50%;
    }

    .TeamsList_headline {
        font-family: $next-font;
        font-weight: $bold-weight;
        font-size: 8vw;
        color: $red;
        margin-top: 10%;
        text-align: end;
        overflow-wrap: break-word;
        text-transform: uppercase;
    }
    .TeamsList_Sportart {
        font-family: $first-font;
        font-weight: $bold-weight;
        color: $white;
        font-size: 4.5vw;
        text-transform: uppercase;
        text-align: end;
    }
}

// Links
.TeamsList {
    margin-left: 3.37rem;
  
}
.TeamsListRow {
    margin-bottom: 35px;
    a {
        margin-bottom: 36px;
        color: $white;
        font-family: $next-font;
        font-weight: $bold-weight;
        font-size: $size-bigLink;
        text-decoration: none;
        text-transform: uppercase;
        .league{
            margin-left: 1rem;
            font-size: $size-smallLink;
            font-weight: $small-weight;
        }
    }
}

//Only Hover on Desktop
@media (touch-enabled: 0), (pointer: fine) {
    .TeamsList_hover:hover {
        font-size: $size-headerLeague;
        transition: 0.7s ease-in-out;
    }
}

@media (max-width: 750px) {
    .TeamsList_firstArticle {
        margin-top: 15%;
        .TeamsList_img {
            width: 68%;
        }
    }
    .articleTeamslist {
    margin-top: 15%;
    }
    .TeamsList_hover {
        font-size: 6.5vw;
    }
    .TeamsListRow {
        a {
          .league{
              font-size: 3.2vw; 
              hyphens: auto;
          }
        }
      }
    .TeamsList {
        margin-left: 5%;
    }
    
}

