//Variablen für die Farben
$red: #E83539;
$white:#FFFFFF;
$bg: #100f0f;

//Variablen für die Schriften
$first-font: 'Open Sans';
$next-font: 'Montserrat';
$small-weight: 400;
$middle-weight: 600;
$bold-weight: 700;
// $Montenserrat-weight: 700;

// Variablen für die Schriftgröße
$size-small: 1.125rem;        //18px
$size-smallLink: 1.5rem;      //24px
$size-forDetail: 2.25rem;     //36px
$size-bigLink: 3rem;          //48px
$size-headerLeague: 5.25rem;  //84px
$size-headerDetail: 6.125rem; //98px 
$size-headerHome: 10.5rem;    //168px




.leagueRow {
    margin-left: 54px;
    margin-bottom: 36px;

    .league {
    padding-left: 20px;
    }
}
.linkLeague {
    // position: relative;
    p {
        display: inline-block;
        // &:after {
        //     content: "";
        //     display: block;
        //     margin: 0 auto;
        //     width: 0;
        //     height: 1.5rem;
        //     background-color: $red;
        //     z-index: -10;
        //     transition: opacity .3s ease,width .3s ease;
        //     bottom: 0;
        //     right: 0;
        //     margin-top: -1.3rem;
        
        // }
      }
  
      // &:hover {
      //   p {
          // &:after {
          //   width: 100%;
         
          // }
        // }
    // }
}