.filterbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  margin: 2rem 0 4rem 0;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 50vw;
  .countries-items {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .sports-items {
    display: flex;
    flex-wrap: wrap;
  }
}

.filterdropdown {
}

.filteritem {
  border: 2px solid white;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.1rem;
  }
}
