* {
  font-family: "Montserrat";
}

.filterdropdown-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4rem;
  gap: 1.5rem;
}

.filtered-items-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.75rem;
}
.filtered-options-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.75rem;
}

.dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .filter-options {
    width: 20rem;
    .options-title {
      position: relative;
      width: 20rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2.5rem;
      padding: 0.5rem 1rem;
      border: 0.2rem solid white;
      cursor: pointer;
    }
    .options-list {
      position: absolute;
      width: 20rem;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      border: 0.2rem solid white;
      border-top: none;
      z-index: 20;
      background-color: #100f0f;
      list-style-type: none;
      overflow-y: scroll;
      overflow-x: hidden;
      &.open {
        height: 20rem;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      .item {
        label {
          font-family: "Open Sans";
          font-weight: 600;
        }
        display: flex;
        align-items: center;
        gap: 1rem;
        border-top: 0.2rem solid white;
        border: 2px solid white;
        padding: 0.5rem 1rem;
        cursor: pointer;
        .option-title,
        .option-check {
          cursor: pointer;
        }
        .clearBtn {
          background-color: transparent;
          color: white;
          font-size: 1rem;
          font-style: italic;
          font-weight: 200;
          border: none;
          cursor: pointer;
          font-family: "Open Sans";
          font-weight: 600;
          &:hover {
            color: #e83539;
            font-weight: 800;
          }
        }
      }
    }
    // Input Checkbox from "https://alvarotrigo.com/blog/css-checkbox-styles/" -> 4. Option first option.
    .item {
      input[type="checkbox"] {
        display: none;
        + label {
          position: relative;
          display: flex;
          display: block;
          padding-left: 2.5rem;
          margin-bottom: 20px;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
        }
        &:hover + label:hover {
          color: #e83539;
        }
        &:hover + label:before {
          background: #e83539;
          box-shadow: inset 0px 0px 0px 2px #f7f2f2;
        }
        + label:last-child {
          margin-bottom: 0;
        }
        + label:before {
          content: "";
          display: block;
          width: 1.4em;
          height: 1.4em;
          border: 1px solid #343a3f;
          border-radius: 0.2em;
          position: absolute;
          left: 0;
          top: 0;
          -webkit-transition: all 0.2s, background 0.2s ease-in-out;
          transition: all 0.2s, background 0.2s ease-in-out;
          background: #f3f3f3;
        }
        &:checked + label:before {
          width: 1.3em;
          height: 1.3em;
          border-radius: 0.2em;
          border: 2px solid #fff;
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          background: #e83539;
          box-shadow: 0 0 0 1px #000;
        }
      }
    }
  }
}
.filtered-items {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
  .item {
    height: 2.5rem;
    min-width: 10rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    border: 2px solid white;
    padding: 0.25rem 0.5rem;
    p {
      font-family: "Open Sans";
      font-weight: 600;
    }
  }
  .removeFilteredItem {
    cursor: pointer;
  }
}

@media (max-width: 1000px) {
  .filterdropdown-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .filtered-options-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .dropdown-container {
    width: 100%;
    .filter-options {
      .options-title {
        width: 23.5rem;
      }
      .options-list {
        width: 23.5rem;
      }
    }
  }
  .filtered-items {
    .item {
      width: 23.5rem;
    }
  }
}
