.filterdropdown-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.dropdown {
  width: 15rem;
}

.dropdown-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  border: 0.2rem solid white;
  .title-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .open-icon {
      transform: rotate(180deg);
      cursor: pointer;
      &.open {
        transform: rotate(0deg);
      }
    }
  }
}
.dropdown-optionlist {
  position: absolute;
  border: 0.2rem solid white;
  border-top: none;
  width: inherit;
  z-index: 20;
  background-color: #100f0f;
  list-style-type: none;
  overflow-y: scroll;
  overflow-x: hidden;
  &.open {
    height: 15rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .dropdown-option {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1rem;
    padding: 0.25rem 0.5rem;
    border-top: 0.2rem solid white;
    .option-title,
    .option-check {
      cursor: pointer;
    }
  }
}
.clearBtn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
