// COLORS
$red: #E83539;
$white:#FFFFFF;
$bg: #100f0f;

// FONTS
$first-font: 'Open Sans';
$next-font: 'Montserrat';
$small-weight: 400;
$middle-weight: 600;
$bold-weight: 700;

// SIZES
$size-small: 1.125rem;        //18px
$size-smallLink: 1.5rem;      //24px
$size-forDetail: 2.25rem;     //36px
$size-bigLink: 3rem;          //48px
$size-headerLeague: 5.25rem;  //84px
$size-headerDetail: 6.125rem; //98px 
$size-headerHome: 10.5rem;    //168px

// COMPONENT
.scroll-up-arrow{
    height: 96px;
    width: 63.96px;
    position: fixed;
    right: 51.04px;
    bottom: 51.04px;
    z-index: 100;
    &:hover{
        cursor: pointer;
    }
    .scroll-up-arrow-desktop{
        display: block;
    }
    .scroll-up-arrow-mobile{
        display: none;
    }
    #rect {
        transform: translateY(100%);
        fill: rgb(232, 53, 57);
        transition: transform .3s ease-in-out;
    }   
    #svg:hover #rect {
        transform: translateY(0);
    }
}

// COMPONENT -> SMARTPHONES, TOUCHSCREENS */
@media (hover: none) and (pointer: coarse) {
    .scroll-up-arrow-desktop{
        display: none;
    }
    .scroll-up-arrow-mobile{
        display: block;
    }
}

// MEDIA QUERIES
@media (max-width: 767px){
    .scroll-up-arrow{
        right: 30px;
        bottom: 30px;
        .scroll-up-arrow-desktop{
            display: none;
        }
        .scroll-up-arrow-mobile{
            display: block;
            height: 80px;
            width: auto;
        }
    }
}