//Variablen für die Farben
$red: #E83539;
$white:#FFFFFF;
$bg: #100f0f;

//Variablen für die Schriften
$first-font: 'Open Sans';
$next-font: 'Montserrat';
$small-weight: 400;
$middle-weight: 600;
$bold-weight: 700;
// $Montenserrat-weight: 700;

// Variablen für die Schriftgröße
$size-small: 1.125rem;        //18px
$size-smallLink: 1.5rem;      //24px
$size-forDetail: 2.25rem;     //36px
$size-bigLink: 3rem;          //48px
$size-headerLeague: 5.25rem;  //84px
$size-headerDetail: 6.125rem; //98px 
$size-headerHome: 10.5rem;    //168px

#inputSearch{
    width: 60px;
    height: 39px;
    border: 4px solid #FFFFFF;
    background-color: $bg;
    background: url(../assets/Icons/Icon_Lupe.png)no-repeat left;
    background-size: 19px 19px;
    background-position: 7px center;
    padding: 0 0 0 35px;
}
#inputSearch:hover{
    width: 300px;
    height: 39px;
    color: $white;
    font-size: $size-smallLink;
    transition: width 1s;
    transition-timing-function: ease;
}

body{
    background-color: $bg;
    
}
.linkLeague {
    color: $white;
    font-family: $next-font;
    font-weight: $bold-weight;
    font-size: $size-bigLink;
    text-decoration: none;
}
.league {
    color: $white;
    font-family: $first-font;
    font-weight: $small-weight;
    font-size: $size-smallLink;
  
}
.headerImg {
    position: relative;
    z-index: 5;
    width: 1093px;
    height: 600px;
    // left: 1093px;
    // top: 177px;

}
.headerCaption {
    position: absolute;
    z-index: 10;
    width: 1112px;
    height: 336px;
    left: 500px;
    top: 10px;
    color: $red;
    font-family: $next-font;
    font-weight: $bold-weight;
    font-size: $size-headerHome;
}
.spanLeague {
    padding-left: 240px;
}

.scroll-up-arrow{
    height: 96px;
    position: fixed;
    right: 51.04px;
    bottom: 51.04px;
    z-index: 100;
    img{
        height: 100%;
    }
    &:hover{
        cursor: pointer;
    }
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
    .scroll-up-arrow-desktop{
        display: none;
    }
    .scroll-up-arrow-mobile{
        display: block;
    }
}

/* mouse, touch pad */
@media (hover: hover) and (pointer: fine) {
    .scroll-up-arrow-desktop{
        display: block;
    }
    .scroll-up-arrow-mobile{
        display: none;
    }
    #rect {
        transform: translateY(100%);
        fill: orange;
        transition: transform .3s ease-in-out;
      }
      
      #svg:hover #rect {
        transform: translateY(0);
      }
}